{#
/**
 * @file opsyd_subgroups.html.twig
 * Default theme implementation to present Opsyd subgroups data.
 *
 * This template is used when viewing Opsyd subgroups pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_opsyd_subgroups()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('opsyd_subgroups') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
